<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="=ie=edge">
    <title>Astro Love</title>
    <link rel="stylesheet" href="/static/css/start_love.css">
    <link rel="stylesheet" href="/static/css/scroll_modal.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <p></p>
    <div class="anim-container" style="height:300px;">
        <img src="/static/img/icon_love_neon.png" style="display:block; position:relative; z-index: 3; max-width:300px; margin:auto; width:100%; height:auto;">
        <div style="height:250px;">
            <svg class='bigHeart' height="0" width="0">
                <defs>
                    <clipPath id=svgClip clipPathUnits="objectBoundingBox" transform="scale(0.009 0.009)">
                        <path d='M10,30 A20,20,0,0,1,50,40 A20,20,0,0,1,90,30 Q90,60,50,80 Q10,60,10,20 Z'></path>
                    </clipPath>
                </defs>
                <linearGradient id="my-cool-gradient" x2="1" y2="1">
                    <stop offset="0%" stop-color="#FF79DA" />
                    <stop offset="100%" stop-color="#9356DC" />
                </linearGradient>
            </svg>
            <div class="heart-container">
                <svg viewBox="0 0 0 0" class='heart-stroke'>
                    <path class=bigHeart d="M10,30 A20,20,0,0,1,50,30 A20,20,0,0,1,90,30 Q90,60,50,90 Q10,60,10,30 Z" />
                </svg>
                <input type='checkbox' class='heart-clip'>
                <div class="fill">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 400" xml:space="preserve">
                        <path d="M0,6c100,10,100,-10,200,0c100,10,100,-10,200,0v394h-400Z" class="waveShape"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <p style="margin-bottom:30px;"></p>
        <span class="headline">Сколько в тебе любви?</span>
        <a class="question">?</a>
        
        <div class="date-block">
            <input class="scroll-date" id="date" placeholder="Дата рождения" readonly required />
        </div>
        
        <button class="btn-count" id="much">Рассчитать любовь</button>
    
    </div>
    <div class="tooltip-overlay" id="tooltip">
        <div class="tooltip-box">
            <div class="close-tooltip" onclick="hide_window()" aria-label="Закрыть" role="button" tabindex="0">&times;</div>
            <div id="tooltip-content" style="margin: 15px 5px"></div>
        </div>
    </div>
    <div class="modal-backdrop" id="modalBackdrop" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
        <div class="modal">
            <div class="picker">
                <div class="wheel" id="day"></div>
                <div class="wheel" id="month"></div>
                <div class="wheel" id="year"></div>
                <div class="wheel-overlay"></div>
            </div>
            <div class="buttons">
                <button class="cancel-btn" id="cancel">Отмена</button>
                <button class="ok-btn" id="ok">Выбрать</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div id="profile" class="footer-item"><img src="/static/img/icon_profile.png" alt="Профиль" /></div>
            <div id="love_in_me" class="footer-item"><div class="footer-active"><img src="/static/img/icon_love.png" alt="Любовь" /><span>Любовь</span></div></div>
            <div id="match" class="footer-item"><img src="/static/img/icon_match.png" alt="Мэтчи" /></div>
            <div id="speedometr" class="footer-item"><img src="/static/img/icon_speedometr.png" alt="Спидометр" /></div>
            <div id="payment" class="footer-item"><img src="/static/img/icon_tarif.png" alt="Тарифы" /></div>
        </div>
    </footer>
    <script>
        document.querySelectorAll('a.question').forEach(link => {
            link.addEventListener('click', function (e) {
                  e.preventDefault();
                  const content = "Этот процент отражает изначальный потенциал любви, заложенный в вас, и показывает, насколько легко вы дарите и принимаете это чувство!<br><br>Помните: любовь — это динамическая энергия, вы можете ее развивать!<br>Ваш максимум любви — ваша самая высокая чакра!";
                  document.getElementById("tooltip-content").innerHTML = content;
                  document.getElementById("tooltip").style.display = 'block';
            });
        });
    
        function hide_window() {
            document.getElementById("tooltip").style.display = 'none';
        }
      
    </script>
    <!--<script src="https://cdn.jsdelivr.net/npm/eruda"></script>-->
    <!--<script>eruda.init();</script>-->
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <script src="/static/js/menu_control.js?v=1.0.1"></script>
    <script src="/static/js/scroll_modal.js?v=1.0.1"></script>
    <script src="/static/js/love_control.js?v=1.0.1"></script>
</body>
</html>