footer {
    background-color: #3b213e;
    padding: 5px;
    position: fixed;
    bottom: 0;
    margin-left: -8px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.footer-item img {
    width: 32px;
    height: 32px;
    margin-bottom: 3px;
}

.footer-active {
    background-color: #4e2d53;
    padding: 4px 14px;
    border-radius: 22px;
    color: #c390ce;
    font-size: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.footer-active img {
    width: 32px;
    height: 32px;
    margin-bottom: 3px;
}