@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    /*overflow-y: hidden;*/
    background: linear-gradient(#001332, #321332);
    color: #d2ccff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

/*.add-photo {*/
/*    height: 400px;*/
/*    max-width: 400px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border: 1px dashed rgba(255, 255, 255, 0.25);*/
/*    border-radius: 14px;*/
/*    margin-bottom: 20px;*/
/*    cursor: pointer;*/
/*}*/

.add-photo {
    width: 70vw; 
    max-width: 400px;     
    height: 70vw;         
    max-height: 400px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden; /* Обрезаем содержимое по кругу */
}

.add-photo span.plus {
    font-size: 60px;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.7);
}

.add-photo span.text {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
}


#profile_photo {
    width: 70vw; 
    max-width: 400px;     
    height: 70vw;         
    max-height: 400px;    
    border-radius: 50%;
    overflow: hidden;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prof-photo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обрезает фото по размеру */
  object-position: center;
  display: block; /* Убирает возможные пробелы у img */
  border-radius: 0; /* img не должен иметь border-radius */
}

.name {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #f0aaff;
    text-align: center;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    gap: 8px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 20px 10px;
    margin-bottom: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}
.tag {
    background: #c96bff30;
    color: #e8dcff;
    padding: 8px 15px;
    border: 2px solid #9455be40;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.4;
}

#profile-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    gap: 12px;
    margin: 25px auto;
    flex-wrap: wrap;
}

.profile-action {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 200px;
    height: 28px;
    background: linear-gradient(90deg, #322045, #592b60);
    /* border: 2px solid #724e80; */
    border-radius: 12px;
    padding: 10px 15px;
    text-align: center;
    /* box-shadow: 1px 1px 5px rgb(41 41 42 / 30%); */
    color: #e7d8ff;
    font-size: 14px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.profile-action:hover {
    background: linear-gradient(90deg, #543674, #74377d);
}

.profile-action img {
    width: 24px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-content {
    background: #2b2242;
    color: #d2ccff;
    padding: 20px;
    border-radius: 12px;
    /*border: 2px solid #d880d1;*/
    font-size: 14px;
    text-align: center;
    max-width: 400px;
    width: 75%;
    color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.modal h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 15px;
    /*color: #d2ccff;*/
    color: #f0aaff;
}

.modal p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #e8dcff;
    line-height: 1.3;
}

.modal button {
  background: #d880d1;
  /*border: 1px solid #d880d1;*/
  width: 70%;
  padding: 12px 20px;
  border: none;
  border-radius: 22px;
  color: #fff;
  font-size: 16px;
  margin-top: 0;
  cursor: pointer;
  transition: 0.3s;
}

.modal button:hover {
  color: #EBEBFF;
  border: 1px solid #d880d1;
  transform: scale(1.02);
  background: linear-gradient(135deg, #8E4094, #D880D1);
}
    